//- index.pug
doctype html
html
  head
    style
      include ../static/style.css
  body
    nav#nav
        ul 
            li #[a(href="/") Home ]
            li #[a(href="/") About]
            li #[a(href="/") Class info ]
            li #[a(href="/") Services ]
            li #[a(href="/") Contuct us]

    section#intro.flex 
        | Welcome to Shajdur's dance academy 
        br
        | Eat Dance Sleep Repeat 
    
    section#sponsers 
        | section for sponsers 
    
    footer#footer  
        | our footer 

    script
      include ../static/script.js