@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box  ;
}
body{
    font-family: 'Itim', cursive;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
#nav {
    background-color: black;
    padding: 6px 10px;
}

#nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#nav li{
    list-style: none;
    padding: 10px 30px;
}

#nav li a{
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
}

#nav li a:hover{
    color: rgb(202, 27, 27);
}

#intro {
    height: 200px;
    background-color: red;
    background: url(../static/bg.jpg) center center / cover no-repeat;
    opacity: .7;
    font-weight: bold;
    font-size: 1.7rem;
    color: white;
    font-family: 'Roboto Mono', monospace;
}

#sponsers {
    height: 200px;
    background-color: yellow;
}

#footer{
    height: 50px;
    background-color: black;
}